@import "../../styles/mixin";
.body-component {
	width: 100vw;
	height: 100vh;
	@include theme-aware('background-color', 'background-color');
	display: flex;
	justify-content: center;
	align-items: center;
}