@import "../../../styles/mixin";
@import "../../../styles/variables/variable";

.message-list__component {
	width: 100%;
	margin-top: 6px;
	padding: 4px 0;

	.ac-message {
		display: flex;
		flex-direction: column;

		.content {
			max-width: 70%;
			width: fit-content;
			text-align: left;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				height: 0;
				width: 0;
			}

			.message-content {
				border-radius: 8px;
				margin-bottom: 2px;
				padding: 8px;
				box-sizing: border-box;
				display: flex;
				position: relative;
				overflow: hidden;

				.message-text {
					font-family: Nunito-Regular, 'Segoe UI', 'Roboto', serif;
					padding-right: 8px;
				}
				.menu {
					position: absolute;
					right: 0;
					z-index: 1;
					top: 0;
					height: 100%;
					opacity: 0;
				}
			}

			.time {
				font-size: 12px;
				text-align: right;
				font-family: Montserrat-SemiBold, 'Segoe UI', 'Roboto', serif;
				padding-right: 4px;
			}

			&:hover {
				.menu {
					opacity: 1;
				}
			}
		}

		&.right-sent-message {
			align-items: flex-end;
			padding-right: 20px;

			.content {
				.message-content {
					@include theme-aware('background-color', 'message-bk-send');

					.message-text {

					}
					.menu {
						@include theme-aware('background', 'message-send-menu');
					}
				}

				&::after {
					@include theme-aware('border-left', 'message-border-send-left');
					border-right: 16px solid transparent;
					@include theme-aware('border-top', 'message-border-send-top');
					right: -9px;
				}
			}
		}

		&.left-received-message {
			align-items: flex-start;
			padding-left: 20px;

			.content {
				.message-content {
					@include theme-aware('background-color', 'message-bk-receive');

					.message-text {

					}
					.menu {
						background: linear-gradient(to right, transparent -88%, #fff 60%);
					}
				}

				&::after {
					@include theme-aware('border-top', 'message-border-rec-top');
					border-left: 16px solid transparent;
					@include theme-aware('border-right', 'message-border-rec-right');
					left: -9px;
				}
			}
		}
	}
}