// light theme colors
$light-background-color: #D6D6D6;
$light-background-home: #ffffff;
$light-primary: #d9d7d7;
$light-chat-central-color: #F0F2F6;
$light-font-color: #202124;
$light-border: 1px solid $light-primary;

// light message theme
$light-send-message-bk: #d1d3e3;
$light-receive-message-bk: #fff;
$light-send-message-box-shadow: 1px 1px 3px #cccccc;
$light-receive-message-box-shadow: 1px 1px 3px #b9bbc8;


//dark theme colors
$dark-background-color: #555555;
$dark-background-home: #282828;
$dark-chat-central-color: #F0F2F6;
$dark-border: 1px solid $light-primary;





$border-radius: 16px;